html {
    scroll-snap-type: y proximity;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    background: rgb(157, 216, 255);
    background: linear-gradient(145deg, rgba(157, 216, 255, 1) 29%, rgba(82, 153, 211, 1) 47%, rgba(119, 70, 103, 1) 85%);
}

a {
    color: #774667;
}

a:hover {
    color: #5299d3;
}

.is-lightgray {
    background-color: #e5e9ef;
}
.text-lightgray {
    color: #e5e9ef;
}
.is-strangeyellow {
    background-color: #EBE3CC;
}

.is-almost-fullscreen {
    height: 75vh;
    width: 100vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.vertical-centered {
    color: #E5E9EF;
    font-size: 3em;
    letter-spacing: 0.15em;
    text-align: center;
    margin: auto;
}

.floating {
    animation: float 6s ease-in-out infinite;
}

.transition {
    height: 15vh;
    width: 100vw;
    letter-spacing: 0.05em;
}

.transition-empty {
    height: 10vh;
    width: 100vw;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0px);
    }
}

.snap {
    scroll-snap-align: start;
}

.modal-content {
    border-top: 50px;
}

#wrapper {
  flex: 1;
}

.tech {
    color: #4a4a4a;
    text-align: right;
}

.modal-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    max-width: 75vw;
    overflow: auto;
}

.is-clickable:hover {
    color: #774667;
    background-color: #EBE3CC;
}

.not-to-broad {
    max-width: 1000px;
    margin: auto;
}

.me {
    max-width: 200px;
}

.cat {
    color: #774667;
    width: 25px;
    opacity: 0.5;
}

.cat:hover {
    opacity: 0.75;
}


/* TODO Code for implementing star-sky-animation (eventually later) */

/*:root {
    --star-brightness: 1;
    --star-animation-duration: 3000ms;
    --star-animation-glow-duration: 5000ms;
    --star-animation-delay: 0ms;
}

@keyframes pulseAnimation {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
    70% {
        transform: scale3d(0.2, 0.2, 0.2);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }

}

@keyframes glowingAnimation {
    0% {
        opacity: var(--star-brightness, 1);
    }
    100% {
        opacity: calc(var(--star-brightness, 1) * 0.5);
    }
}

.star {
    animation:
            pulseAnimation var(--star-animation-duration, 3000ms) infinite backwards,
            glowingAnimation var(--star-animation-glow-duration, 5000ms) infinite alternate backwards;
   animation-delay: var(--star-animation-delay, 0ms);
}

*/
